.MediaEntryInput-Media{

    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #ebdefd;

}.MediaEntryInput-MediaMultiLine{

    /* width: 100%; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #ebdefd;

}

.SVGButton_Primary{

    cursor: pointer;
    width: 191px;
}
.SVGButton_PrimaryLongButtons{

    cursor: pointer;
    width: 344px;
}
.SVGButton_PrimaryUploadMedia{

    cursor: pointer;
    width: 170px;
}
.SVGButton_Primary:hover{
    background-color: aqua;
    cursor: pointer;
    width: 191px;
}